<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Image Change</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "../assets/css/detail.css">
    <script src="../admin/js/detail.js"></script>
    
</head>
<body>
    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "hover-container">
                    <div>
                        <img src = "https://product.hstatic.net/200000073977/product/thumb_web_what_is_love-01_-01_46d6cbe4bcad47ba9ad952f231f2ad92_master.png">
                    </div>
                    <div><img src = "https://product.hstatic.net/200000073977/product/kv-wil-website_a2e972ab64b74abf8f0877091750c2ad_master.jpg"></div>
                    <div><img src = "https://product.hstatic.net/200000073977/product/notes-wil-website_327e06743cee4a27a25954fe82c0f3a5_master.jpg"></div>
                    <div><img src = "https://product.hstatic.net/200000073977/product/posm-website_bdcc2671cfb44644b9c3a77c258b3895_master.jpg"></div>
                </div>
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "https://product.hstatic.net/200000073977/product/thumb_web_what_is_love-01_-01_46d6cbe4bcad47ba9ad952f231f2ad92_master.png" alt = "watch">
                    </div>
                </div>
                <div class = "product-div-right">
                    <span class = "product-name" id="product-name"></span>
                    <p>đã bán</p>
                    <div class="price-1">
   <span class = "product-price" id="product-price"></span>
                        <span class = "product-price-1" id="product-price-old">$ 399.000</span>
                    </div>
                    <p>trả sau 0 với </p>
                    <h5>màu sắc : 
                        <button type = "button" class = "mau-cart-btn"></i>NO4 ROSE HONG ANH DAT</button>
                        <button type = "button" class = "mau-cart-btn"></i>NO4 ROSE HONG ANH DAT</button>
                        <button type = "button" class = "mau-cart-btn"></i>NO4 ROSE HONG ANH DAT</button>
                    </h5>
                    <h5>số lượng : <input class="soluong" type="number" max="100"  min="0"></h5>
                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>thêm vào giỏ hàng</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>mua ngay</button>
                    </div>
                </div>
            </div>
            <section class="sale">
                <h1>KHUYẾN MÃI DÀNH CHO BẠN</h1>
                <br>
                <div class="list-voucher">
                    <div class="sale-voucher">
                        <img src="../img/image10.png" style="width: 120px; height: 120px;" alt="">
                        <div class="tt-voucher">
                            <p style="font-weight: bold; font-size: 20px;">Giảm 15K</p>
                            <p style="font-weight: bold; margin-bottom: 10px; margin-top: -20px;">Áp dụng cho khách hàng lần đầu mua hàng</p>
                            <div class="ma-voucher">
                                <div class="ts-voucher">
                                    <p style="margin-bottom: 5px;">Mã:<strong>SAYHI</strong></p>
                                    <p style=" margin-top: -10px;">HSD:30/12/2024</p>
                                </div>
                               
                                <div class="copy-voucher">
                                    <p>Sao chép mã</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                
                    <div class="sale-voucher">
                        <img src="../img/image10.png" style="width: 120px; height: 120px;" alt="">
                        <div class="tt-voucher">
                            <p style="font-weight: bold; font-size: 20px; ">Giảm 15K</p>
                            <p style="margin-bottom: 10px; font-weight: bold; margin-top: -20px;">Áp dụng cho khách hàng lần đầu mua hàng</p>
                            
                            <div class="ma-voucher">
                                <div class="ts-voucher">
                                    <p  style="margin-bottom: 5px;">Mã:<strong>SAYHI</strong></p>
                                <p style=" margin-top: -10px;">HSD:30/12/2024</p>
                                </div>
                                <div class="copy-voucher">
                                    <p>Sao chép mã</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                
            </section>
            <div class="descption">
                <h4>Mô tả sản phẩm</h4>
                <hr>
                <pre id="product-description"></pre>
<div class="text-center">

    <button class="xemthem">xem them noi dung</button>
</div>
            </div>
            <div class="spyth">
                <h3 class="text-left h3 fw-bold m-4">Sản phẩm yêu thích</h3>
                <div class="container main-container" >
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <div class="card product-card">
                                <div class="image-container">
                                    <img id="productImage1" src="../img/image12.png" class="card-img-top" alt="Sản phẩm 1">
                                </div>
                                <div class="card-body">
                                    <div class="card-title" style="padding: 5px;">
                                        <h5 style="font-size: 16px; text-align: left;">Phấn Nước M.O.I Baby Skin Cushion(New)</h5>
                                        <p style="text-align: left;">+3 màu sắc</p>
                                    </div>
                                    <div class="text" style="display: flex; justify-content: space-between;">
                                        <div style="margin-top: -20px;">
                                            <p style="color: #EBB;font-weight: bold" >459.000đ</p>
                                            <p style="text-decoration: line-through; margin-top: -20px; color: #DBE2EB; font-weight: bold;">499.000đ</p>
                                        </div>
                                        <p style=" border: 1px solid #EBB; background: #EBB; border-radius: 10px;">-25%</p>
                                    </div>
                                    <a href="#" class="btn btn-primary" style="background: #EBB; border: #EBB;">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <div class="image-container">
                                    <img id="productImage2" src="../img/a9.jpg" class="card-img-top" alt="Sản phẩm 1">
                                </div>
                                <div class="card-body">
                                    <div class="card-title" style="padding: 5px;">
                                        <h5 style="font-size: 16px; text-align: left;">Phấn Nước M.O.I Baby Skin Cushion(New)</h5>
                                        <p style="text-align: left;">+3 màu sắc</p>
                                    </div>
                                    <div class="text" style="display: flex; justify-content: space-between;">
                                        <div style="margin-top: -20px;">
                                            <p style="color: #EBB;font-weight: bold" >459.000đ</p>
                                            <p style="text-decoration: line-through; margin-top: -20px; color: #DBE2EB; font-weight: bold;">499.000đ</p>
                                        </div>
                                        <p style=" border: 1px solid #EBB; background: #EBB; border-radius: 10px;">-25%</p>
                                    </div>
                                    <a href="#" class="btn btn-primary" style="background: #EBB; border: #EBB;">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <div class="image-container">
                                    <img id="productImage3" src="../img/a11.jpg" class="card-img-top" alt="Sản phẩm 1">
                                </div>
                                <div class="card-body">
                                    <div class="card-title" style="padding: 5px;">
                                        <h5 style="font-size: 16px; text-align: left;">Phấn Nước M.O.I Baby Skin Cushion(New)</h5>
                                        <p style="text-align: left;">+3 màu sắc</p>
                                    </div>
                                    <div class="text" style="display: flex; justify-content: space-between;">
                                        <div style="margin-top: -20px;">
                                            <p style="color: #EBB;font-weight: bold" >459.000đ</p>
                                            <p style="text-decoration: line-through; margin-top: -20px; color: #DBE2EB; font-weight: bold;">499.000đ</p>
                                        </div>
                                        <p style=" border: 1px solid #EBB; background: #EBB; border-radius: 10px;">-25%</p>
                                    </div>
                                    <a href="#" class="btn btn-primary" style="background: #EBB; border: #EBB;">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                       <div class="col-md-3">
                <div class="card product-card">
                    <div class="image-container">
                        <img id="productImage4" src="../img/a7.png" class="card-img-top" alt="Sản phẩm 1">
                    </div>
                    <div class="card-body">
                        <div class="card-title" style="padding: 5px;">
                            <h5 style="font-size: 16px; text-align: left;">Phấn Nước M.O.I Baby Skin Cushion(New)</h5>
                            <p style="text-align: left;">+3 màu sắc</p>
                        </div>
                        <div class="text" style="display: flex; justify-content: space-between;">
                            <div style="margin-top: -20px;">
                                <p style="color: #EBB;font-weight: bold" >459.000đ</p>
                                <p style="text-decoration: line-through; margin-top: -20px; color: #DBE2EB; font-weight: bold;">499.000đ</p>
                            </div>
                            <p style=" border: 1px solid #EBB; background: #EBB; border-radius: 10px;">-25%</p>
                        </div>
                        <a href="#" class="btn btn-primary" style="background: #EBB; border: #EBB;">Thêm vào giỏ hàng</a>
                    </div>
                </div>
                        </div>
                        
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>

    <script src = "script.js"></script>
</body>
</html>