<html>
    <head>
        <link crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            rel="stylesheet" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="../assets/css/footer.css">
    </head>
    <body>
        <div class="footer container-fluid">
            <div class="row mt-4 mb-5">
                <div class="col-md-6 text-center">
                    <h5>
                        ĐĂNG KÝ NHẬN THÔNG BÁO
                    </h5>
                    <p>
                        Chương trình khuyến mãi | Hợp tác kinh doanh
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <input class="email-input" placeholder="Nhập e-mail của bạn"
                        type="email" />
                    <button class="email-button">
                        Gửi
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>
                        HOTLINE
                    </h5>
                    <p>
                        0901060668
                    </p>
                    <p>
                        Thời gian làm việc: 09:00 - 18:00 (T2 - T6)
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>
                        HỖ TRỢ KHÁCH HÀNG
                    </h5>
                    <p>
                        <a href="#">
                            Chính sách đổi trả
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Chính sách bảo mật
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Thanh toán và giao nhận
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>
                        VỀ M.O.I COSMETICS
                    </h5>
                    <p>
                        <a href="#">
                            Giới thiệu
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Liên hệ
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Đăng ký đối tác
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>
                        PHƯƠNG THỨC THANH TOÁN
                    </h5>
                    <div class="payment-methods">
                        <img alt="VISA logo" height="30"
                            src="https://storage.googleapis.com/a1aa/image/ETl7QBRgczrWORWvif4nPfTheCmqmh85LyKIEcs1FMIy43InA.jpg"
                            width="50" />
                        <img alt="Mastercard logo" height="30"
                            src="https://storage.googleapis.com/a1aa/image/qNHV75lF7f25NCVfkDVyHUvzYkAjp9VYQLfMwx2aoLfzxvROB.jpg"
                            width="50" />
                        <img alt="MoMo logo" height="30"
                            src="https://storage.googleapis.com/a1aa/image/ktGQuk6FYuY1IJRfHnPsx6Zt93aG5uS6bgkWRy4yFzDLebkTA.jpg"
                            width="50" />
                        <img alt="ZaloPay logo" height="30"
                            src="https://storage.googleapis.com/a1aa/image/73peGgJJfnmBHUNXWcV24pEl6mA1S3odYIr43DXCe5cw43InA.jpg"
                            width="50" />
                        <img alt="Cash on Delivery logo" height="30"
                            src="https://storage.googleapis.com/a1aa/image/vBeEboPUdmxybaXAfeMwnZh3oSubLFu49UkCUtfDnWhpxvROB.jpg"
                            width="50" />
                    </div>
                    <h5>
                        Theo dõi tại
                    </h5>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram fa-2x">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fab fa-tiktok fa-2x">
                            </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
