.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}
.cart_header{
    border-bottom: 1px solid #111;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
    /* margin-bottom: 10px; */
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ' / ';
}
.prog_bar {
    background-color: #ffcc00;
    height: 10px;
    border-radius: 10px;
    width: 105%;
}
.left_item{
    border: 1px solid #111;
    padding: 20px;
    margin: 20px 0 0 0;
    border-radius: 10px;
}

.list_pro_item{
    border: 1px solid #b9b9b9;
    padding: 20px 0 10px 0;
    border-radius: 5px;
}

.cart-item {
    /* border: 1px solid #111; */
    padding: 10px;
    margin-bottom: 10px;
}
.cart-item img {
    width: 70px;
    height: 70px;
}
.descrip_gray{
    color: #b9b9b9;
    display: flex;
    flex-direction: column;
    gap: 0px;
    line-height: 20%;
}

.note_cart{
    background-color: #b9b9b9;
    padding: 20px;

    textarea{
        border: 1px solid #111;
    }
}
.right_item {
    border: 1px solid #b9b9b9;
    border-top: none;
    padding: 20px;

    h5{
        border-bottom: 1px solid #111;
        padding: 0 0 10px 0;
    }
}
.right_item .price{
    display: flex;
    justify-content: space-between;
}
.right_item .total-price {
    color: red;
    font-weight: bold;
}
.right_item .btn-checkout {
    background-color: #F1A3B3;
    height: 50px;
    color: white;
    font-weight: bold;
}
.right_item .btn-checkout:hover {
    background-color: #f17a92;
    height: 50px;
    color: white;
    font-weight: bold;
}
.right_item .policy {
    background-color: #D8EDF6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.promotion {
    /* border: 1px solid #ddd; */
    /* padding: 10px; */
    margin-top: 10px;

    h4{
        font-size: 20px;
        text-align: center;
    }
}
.promotion .icon_voucher{
    background-color: #F1A3B3;
    width: 80px;
    height: 80px;
    /* padding: 20px 10px; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.promotion .icon_voucher img{
    width: 60px;
}
.promotion .promo-code {
    background-color: #F4F4F4;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    height: 80px;

    h2{
        font-size: 15px;
    }
    p{
        font-size: 10px;
        line-height: 0%;
    }
}
@media (max-width: 1000px) {
    .breadcrumb{
        margin-top: 50px;
    }
    .prog_bar{
        width: 100%;
    }
    .cart_header{
        width: 100%;
        padding: 0;
        p{
            display: none;
        }
    }
    .left_item{
        border: none;
    }

}