*:not(i) {
    font-family: 'Inter', sans-serif !important;
}

.btn {
    --bs-btn-padding-x: 0.75rem; 
    --bs-btn-padding-y: 0.375rem; 
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.btn {
    margin: 0; 
}

.mx-wide-n1, .mx-wide-n25 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.px-lg-0, .px-lg-25, .mx-lg-0, .mx-lg-25 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

  
.search{
    width: 500px;
    border-bottom: 1px solid #111;
    margin-bottom: 20px;

    input{
        outline: none;
        border: none;
    }
    i{
        font-weight: normal;
    }
}
.light-mode-img_small{
    /* border: 1px solid #111; */
    margin-left: 40px;
}
.header-above{
    margin-top: -30px;
}
.sticky-area{
    margin-top: -40px;
}
.bottom_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* border: 1px solid red; */
}
.top_header{
    display: flex;
    background-color: pink;
    margin-bottom: 1px;
    .left_top_header{
        background-color: pink;
        color: #fff;
    }
    .right_top_header{
        background-color: #111;
        color: #fff;
        border-radius: 20px 0 0 20px;
    }
}
@media (max-width: 1000px) {
    .top_header {
        display: none;
    }
    .sticky-area{
        margin-top: 10px;
    }
}
.icons-actions_start{
    margin-left: 5px;
}
.icons-actions_end{
    /* width: 300px; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    /* border: 1px solid #111; */
}